* {
  margin: 0px;
}
.main {
  width: 300px;
  height: 400px;
  border: 2px solid orange;
  border-radius: 10px;
  background-color: azure;
  margin-left: 15px;
}
input {
  width: 250px;
  height: 25px;
  border: 2px solid blue;
  border-radius: 20px;
  text-align: center;
  margin-left: 22px;
}
h3 {
  text-align: center;
  padding-top: 10px;
  color: rgb(94, 36, 36);
}
#demo {
  margin-top: 20px;
  color: red;
  text-align: center;
  font-size: 25px;
}
